head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='Content-Security-Policy' content="default-src 'self'")
    meta(name='author' content='Ekoulé Maneng (ekoulemaneng@gmail.com')
    meta(name='description' content='An Anonymous Message Board')
    title #{title} | AMB
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')