.modal.fade#modal(tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title Message
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
            .modal-body
                p#message
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close

